@charset "UTF-8";
body {
  margin: 0;
  overflow-wrap: break-word;
}

:lang(ko) {
  word-break: keep-all;
}

img {
  max-width: 100%;
  height: auto;
}

[class] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]::before,
[class]::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(ol, ul) {
  list-style: none;
}

[class]:where(button, fieldset, iframe, input, select, textarea) {
  border: 0;
}

[class]:where(button, dialog, input, mark, meter, progress) {
  background-color: transparent;
}

[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Verdana, 'Malgun Gothic', dotum, sans-serif;
}

[class]:where(a) {
  text-decoration: none;
}

[class]:where(a):hover {
  text-decoration: underline;
}

body {
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

main .inner {
  margin: 0 auto;
  width: 1040px;
  position: relative;
}

.active_top {
  padding-top: 54px;
  height: 836px;
  background-color: #EEEEEE;
}

.active_top .phone_box {
  width: 654px;
  height: 836px;
  position: absolute;
  right: -175px;
  top: 57px;
  padding-right: 127px;
}

.active_top .phone_box .img {
  width: 502px;
}

.active_top .phone_box .movie_box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 306px;
  height: 647px;
  right: 198px;
  top: 90px;
  border-radius: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.active_top .t1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 102%;
  color: #000;
  margin-top: 220px;
}

.active_top .btn_wrap {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.active_top .btn_wrap__link {
  width: 200px;
  height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FCBF00;
  border-radius: 60px;
  font-weight: 800;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  position: relative;
}

.active_top .btn_wrap__link:hover {
  text-decoration: none;
  -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.active_top .btn_wrap__link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92px;
  height: 30px;
  color: #fff;
  background: #FF650F;
  border-radius: 40px;
  font-weight: 800;
  font-size: 9px;
  position: absolute;
  top: -15px;
  right: -10px;
}

.active_top .sns_wrap {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.active_top .sns_wrap__link {
  border: 2px solid #000;
  border-radius: 50%;
}

.active_top .sns_wrap__link:hover {
  text-decoration: none;
  -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.active_info {
  background: #FFC200 url(../img/bg_info.png) no-repeat 50% 50%;
  min-height: 836px;
  padding-top: 320px;
}

.active_info .t1 {
  font-weight: 800;
  font-size: 42px;
  line-height: 112%;
  text-align: center;
}

.active_info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 55px;
  margin: 40px auto 0;
  background-color: #000;
  border-radius: 60px;
  color: #FFC200;
  font-size: 16px;
  font-weight: 800;
  position: relative;
}

.active_info__link:hover {
  text-decoration: none;
  -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.active_info__link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92px;
  height: 30px;
  color: #fff;
  background: #FF650F;
  border-radius: 40px;
  font-weight: 800;
  font-size: 9px;
  position: absolute;
  top: -15px;
  right: -30px;
}

.active_enjoy {
  background: #000 url(../img/bg_enjoy.png) no-repeat 50% 50%/cover;
  min-height: 836px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active_enjoy .t1 {
  font-weight: 800;
  font-size: 42px;
  line-height: 112%;
  color: #fff;
}

.active_enjoy__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 55px;
  background: #ffc200;
  border-radius: 60px;
  color: #000;
  font-weight: 800;
  font-size: 16px;
  margin-top: 40px;
  position: relative;
}

.active_enjoy__link:hover {
  text-decoration: none;
  -webkit-box-shadow: 1px 5px 5px rgba(255, 194, 0, 0.5);
          box-shadow: 1px 5px 5px rgba(255, 194, 0, 0.5);
}

.active_enjoy__link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92px;
  height: 30px;
  color: #fff;
  background: #FF650F;
  border-radius: 40px;
  font-weight: 800;
  font-size: 9px;
  position: absolute;
  top: -15px;
  right: -30px;
}

.active_roadmap {
  background-color: #eee;
  min-height: 836px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 260px;
  text-align: left;
}

.active_roadmap .inner {
  width: 1040px;
}

.active_roadmap .t1 {
  font-weight: 800;
  font-size: 42px;
}

.active_roadmap .mySwiper {
  margin-top: 80px;
  position: relative;
  overflow: visible;
}

.active_roadmap__list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.active_roadmap__list li {
  width: 170px;
  padding-right: 96px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.active_roadmap__list li::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 70px;
}

.active_roadmap__list li b {
  font-weight: 300;
  font-size: 40px;
}

.active_roadmap__list li p {
  font-weight: 800;
  font-size: 18px;
  line-height: 139%;
  margin: 40px 0 0;
}

.active_team {
  padding: 167px 0 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.active_team .inner {
  width: 1040px;
}

.active_team .t1 {
  font-weight: 800;
  font-size: 42px;
}

.active_team .mySwiper2 {
  margin-top: 80px;
  position: relative;
  overflow: visible;
}

.active_team__list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 !important;
}

.active_team__list li {
  width: 176px;
  padding-right: 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active_team__user {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  background-color: #D9D9D9;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

.active_team__user img {
  width: 100%;
}

.active_team__name {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
}

.active_team__tit {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
}

.active_team__info {
  margin-top: 7px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.05em;
}

.active_team__link {
  font-weight: 600;
  font-size: 15px;
  margin-top: 7px;
  color: #000;
}

.active_partner {
  padding: 167px 0 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.active_partner .t1 {
  font-weight: 800;
  font-size: 42px;
}

.active_partner__list {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  max-width: 1040px;
  margin: 0 auto 100px;
}

footer .contactWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

footer .contactWrap__link {
  font-weight: 600;
  font-size: 17px;
  color: #000;
  padding-left: 24px;
  background: url(../img/ico_mail.svg) no-repeat 0 50%/16px;
}

footer .contactWrap__link + a {
  background: url(../img/ico_down.svg) no-repeat 0 50%/16px;
}

footer .copy {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #000;
  padding-top: 20px;
  border-top: 2px solid #000;
}

@media screen and (max-width: 767px) {
  /* 모바일 */
  main .inner {
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .active_top {
    padding: 7.69231vw 10.25641vw 0;
    height: 100vh;
    background-color: #eee;
  }
  .active_top .inner {
    text-align: center;
  }
  .active_top .inner .logo img {
    width: 34.35897vw;
  }
  .active_top .phone_box {
    width: 115%;
    height: auto;
    position: relative;
    top: 0;
    padding-right: 0;
    right: 15.38462vw;
  }
  .active_top .phone_box .img {
    width: 100%;
  }
  .active_top .phone_box .movie_box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 62%;
    height: 117.94872vw;
    right: 7.69231vw;
    top: 16.41026vw;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .active_top .t1 {
    font-size: 9.23077vw;
    line-height: 102%;
    margin-top: 20.51282vw;
    text-align: left;
  }
  .active_top .btn_wrap {
    margin-top: 7.69231vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.82051vw;
  }
  .active_top .btn_wrap__link {
    width: 36.92308vw;
    height: 10.25641vw;
    border-radius: 15.38462vw;
    font-size: 3.58974vw;
  }
  .active_top .sns_wrap {
    margin-top: 6.15385vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.05128vw;
  }
  .active_top .sns_wrap__link {
    width: 8.46154vw;
    height: 8.46154vw;
    border: 2px solid #000;
    border-radius: 50%;
  }
  .active_top .sns_wrap__link:hover {
    text-decoration: none;
    -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
  }
  .active_info {
    background: #FFC200 url(../img/bg_info_m.png) no-repeat 50% 50%/cover;
    height: 100vh;
    padding-top: 80.25641vw;
    padding: 80.25641vw 9.23077vw 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .active_info .t1 {
    font-size: 6.41026vw;
    line-height: 135%;
    word-break: keep-all;
  }
  .active_info .t1 br {
    display: none;
  }
  .active_info__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 55px;
    margin: 40px auto 0;
    background-color: #000;
    border-radius: 60px;
    color: #FFC200;
    font-size: 16px;
    font-weight: 800;
  }
  .active_info__link:hover {
    text-decoration: none;
    -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
  }
  .active_enjoy {
    background: #000 url(../img/bg_enjoy.png) no-repeat 80% 50%/cover;
    height: 100vh;
  }
  .active_enjoy .t1 {
    font-size: 8.97436vw;
    text-align: center;
  }
  .active_enjoy__link {
    width: 58.97436vw;
    height: 14.10256vw;
    border-radius: 15.38462vw;
    font-size: 4.10256vw;
    margin-top: 10.25641vw;
    position: relative;
  }
  .active_enjoy__link:hover {
    text-decoration: none;
    -webkit-box-shadow: 1px 5px 5px rgba(255, 194, 0, 0.5);
            box-shadow: 1px 5px 5px rgba(255, 194, 0, 0.5);
  }
  .active_roadmap {
    min-height: auto;
    padding: 20.51282vw 12.82051vw 12.82051vw;
  }
  .active_roadmap .inner {
    width: 100%;
  }
  .active_roadmap .t1 {
    font-size: 9.23077vw;
  }
  .active_roadmap .mySwiper {
    margin-top: 19.74359vw;
  }
  .active_roadmap__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .active_roadmap__list li {
    width: 45%;
    padding-right: 0;
    margin-bottom: 10.25641vw;
  }
  .active_roadmap__list li::after {
    top: 11.53846vw;
  }
  .active_roadmap__list li b {
    font-size: 6.66667vw;
  }
  .active_roadmap__list li p {
    font-size: 3.84615vw;
    margin: 4.10256vw 0 0;
  }
  .active_team {
    padding: 20.51282vw 12.82051vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .active_team .inner {
    width: 100%;
  }
  .active_team .t1 {
    font-size: 9.23077vw;
  }
  .active_team .mySwiper2 {
    margin-top: 80px;
    position: relative;
    overflow: visible;
  }
  .active_team__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .active_team__list li {
    width: 30.25641vw;
    padding-right: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10.25641vw;
  }
  .active_team__list li:nth-child(even) {
    padding-right: 0;
  }
  .active_team__user {
    width: 30.25641vw;
    height: 30.25641vw;
    margin-bottom: 4.35897vw;
  }
  .active_team__name {
    font-size: 4.35897vw;
  }
  .active_team__tit {
    margin-top: 1.28205vw;
    font-size: 3.58974vw;
  }
  .active_team__link {
    font-size: 3.84615vw;
    margin-top: 1.79487vw;
  }
  .active_partner {
    padding: 21.79487vw 10.25641vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .active_partner .t1 {
    font-size: 9.23077vw;
    line-height: 106%;
  }
  .active_partner__list {
    width: 100%;
    margin-top: 19.48718vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .active_partner__list li {
    min-width: 45%;
  }
  .active_partner__list li:nth-child(1) {
    width: 26.15385vw;
    margin-bottom: 5%;
    margin-right: 10%;
  }
  .active_partner__list li:nth-child(1) img {
    width: 80%;
  }
  .active_partner__list li:nth-child(2) {
    width: 30.25641vw;
    margin-bottom: 5%;
  }
  .active_partner__list li:nth-child(3) {
    width: 33.07692vw;
    margin-right: 10%;
  }
  .active_partner__list li:nth-child(4) {
    width: 25.12821vw;
  }
  .active_partner__list li:nth-child(4) img {
    width: 80%;
  }
  footer {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10.25641vw;
    margin: 0 auto 12.82051vw;
  }
  footer .contactWrap {
    display: block;
  }
  footer .contactWrap__link {
    display: block;
    font-size: 4.35897vw;
    padding-left: 6.15385vw;
    background: url(../img/ico_mail.svg) no-repeat 0 50%/4.10256vw;
  }
  footer .contactWrap__link + a {
    margin-top: 2.5641vw;
    background: url(../img/ico_down.svg) no-repeat 0 50%/4.10256vw;
  }
  footer .copy {
    margin-top: 7.69231vw;
    font-size: 4.35897vw;
    padding-top: 5.12821vw;
  }
}
